AWS_REGION=ap-southeast-2
TF_STATE_BUCKET=driftwatch-state
TF_STATE_KEY=terraform.tfstate
DYNAMODB_TABLE_NAME=driftwatch
SNS_TOPIC_ARN=arn:aws:sns:ap-southeast-2:123456789012:driftwatch-alerts
AWS_ENDPOINT_URL=http://localhost:4566 # only for LocalStack
